.epic{
  background: radial-gradient(yellow, #ffa500)
}

body{
  background: radial-gradient(#fff, purple)
}

.footer{
	margin-top: 20px;
	margin-bottom: 20px;
  display:flex;
  justify-content:space-evenly;
}

.div1{
  background: grey;
}

.div2{
  background: grey;
}

.div1:hover{
  background: radial-gradient(white,grey);
}

.div2:hover{
  background: radial-gradient(white,grey);
}
